# Python
__pycache__/
*.py[cod]
*$py.class
*.so
build/
dist/
*.egg-info/

# Virtual environment
.venv/
venv/
ENV/
env/

# Jupyter checkpoints
.ipynb_checkpoints/
*.ipynb_checkpoints/

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# OS
Thumbs.db


sql/
SETUP_GUIDE.md
readmexold.md